<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.UserMapper" >

  <resultMap id="BaseResultMap" type="com.ldps.model.User" >
    <id column="BEU_ID" property="id" jdbcType="INTEGER" />
    <result column="BEU_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="BEU_PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="BEU_STATUS" property="status" jdbcType="VARCHAR" />
     <result column="BEU_CREATEDATE" property="createDate" jdbcType="date" />
    <result column="BEU_CREATEUSER" property="createUser" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    BEU_ID, BEU_NAME, BEU_PASSWORD, BEU_STATUS,BEU_CREATEDATE,BEU_CREATEUSER
  </sql>
  
  <sql id="Base_Column_List2" >
    BEU_NAME, BEU_PASSWORD, BEU_STATUS,BEU_CREATEDATE,BEU_CREATEUSER
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BACKENDUSER
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BACKENDUSER
    where BEU_NAME = #{userName,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BACKENDUSER
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
    
  <delete id="deleteByUserName" parameterType="java.lang.String" >
    delete from BACKENDUSER
    where BEU_NAME = #{userName,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insert" parameterType="com.ldps.model.User" >
    insert into BACKENDUSER (
	<include refid="Base_Column_List2" />
	)
    values ( #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, , #{createUser,jdbcType=INTEGER})
  </insert>
  
  <!-- 
  <insert id="insertSelective" parameterType="com.ldps.model.User" >
    insert into BACKENDUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        BEU_NAME,
      </if>
      <if test="password != null" >
        BEU_PASSWORD,
      </if>
      <if test="status != null" >
        BEU_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   -->
   
  <update id="updateByPrimaryKeySelective" parameterType="com.ldps.model.User" >
    update BACKENDUSER
    <set >
      <if test="userName != null" >
        BEU_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        BEU_PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        BEU_STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.ldps.model.User" >
    update BACKENDUSER
    set BEU_NAME = #{userName,jdbcType=VARCHAR},
      BEU_PASSWORD = #{password,jdbcType=VARCHAR},
      BEU_STATUS = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>