<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.CusResourceRelModelMapper" >
  <cache 
  	eviction="LRU" 
  	flushInterval="36000000" 
  	size="1024" 
  	readOnly="true" >
  </cache>
  <resultMap id="BaseResultMap" type="com.ldps.model.CusResourceRelModel" >
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="FROM_SHARED" property="fromShared" jdbcType="CHAR" />
    <result column="START_DATE" property="startDate"  />
    <result column="END_DATE" property="endDate"  />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ResultWithResourceModelMap" type="com.ldps.model.CusResourceRelModel" >
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="FROM_SHARED" property="fromShared" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
    <result column="START_DATE" property="startDate"  />
    <result column="END_DATE" property="endDate"  />
    
    <association property="resourceModel" javaType="com.ldps.model.ResourceModel">
	    <id column="R_ID" property="id" jdbcType="INTEGER" />
	    <result column="R_NAME" property="name" jdbcType="VARCHAR" />
	    <result column="R_TYPE_ID" property="typeId" jdbcType="INTEGER" />
	    <result column="R_STATUS" property="status" jdbcType="CHAR" />
	    <result column="R_CREATE_DATE" property="createDate"  />
	    <result column="R_CREATE_USER" property="createUser" jdbcType="INTEGER" />
	    <result column="R_MAC" property="mac" jdbcType="CHAR" />
	    <result column="R_BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
	    <result column="R_FLOOR" property="floor" jdbcType="INTEGER" />
	    <result column="R_PASSWORD" property="password" jdbcType="CHAR" />
	    <result column="R_SEQUENCE" property="sequence" jdbcType="INTEGER" />
	    <result column="R_SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
	    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
	    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
	    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
	    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
	    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
	    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
	    
	    <result column="R_R_INT1" property="rInt1" jdbcType="INTEGER" />
	    <result column="R_R_INT2" property="rInt2" jdbcType="INTEGER" />
	    <result column="R_NUM1" property="num1" jdbcType="DECIMAL" />
	    <result column="R_NUM2" property="num2" jdbcType="DECIMAL" />
	    <result column="R_VC1" property="vc1" jdbcType="VARCHAR" />
	    <result column="R_VC2" property="vc2" jdbcType="VARCHAR" />
	    <result column="R_CHR1" property="chr1" jdbcType="CHAR" />
	    <result column="R_CHR2" property="chr2" jdbcType="CHAR" />
    </association>
  </resultMap>
  
  <resultMap id="ResourceModel_WithRelModelMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
    <result column="MAC" property="mac" jdbcType="CHAR" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="PASSWORD" property="password" jdbcType="CHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    
    <association property="cusResRelModel" javaType="com.ldps.model.CusResourceRelModel">
	    <id column="CR_CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
	    <result column="CR_RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
	    <result column="CR_ENABLE" property="enable" jdbcType="CHAR" />
	    <result column="CR_FROM_SHARED" property="fromShared" jdbcType="CHAR" />
	    <result column="CR_CREATE_DATE" property="createDate"  />
	    <result column="CR_CREATE_USER" property="createUser" jdbcType="BIGINT" />
	    <result column="CR_START_DATE" property="startDate"  />
	    <result column="CR_END_DATE" property="endDate"  />
    </association>
  </resultMap>
  
  
  <resultMap id="Resource_With_CusGrp_RelModelMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
    <result column="MAC" property="mac" jdbcType="CHAR" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="PASSWORD" property="password" jdbcType="CHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    
    <association property="cusResRelModel" javaType="com.ldps.model.CusGrpResourceRelModel">
	    <id column="CR_CGROUP_ID" property="cgroupId" jdbcType="BIGINT" />
	    <result column="CR_RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
	    <result column="CR_ENABLE" property="enable" jdbcType="CHAR" />
	    <result column="CR_CREATE_DATE" property="createDate"  />
	    <result column="CR_CREATE_USER" property="createUser" jdbcType="BIGINT" />
	    <result column="CR_START_DATE" property="startDate"  />
	    <result column="CR_END_DATE" property="endDate"  />
    </association>
  </resultMap>
  
  <sql id="Column_WithResourceModel_List" >
    CR.CUSTOMER_ID CR_CUSTOMER_ID, CR.RESOURCE_ID CR_RESOURCE_ID, CR.ENABLE CR_ENABLE, CR.FROM_SHARED CR_FROM_SHARED, CR.CREATE_DATE CR_CREATE_DATE, 
    CR.CREATE_USER CR_CREATE_USER, CR.START_DATE CR_START_DATE, CR.END_DATE CR_END_DATE,
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.MAC, R.BUILDING_ID, R.FLOOR, R.PASSWORD, 
    R.SEQUENCE, R.SHARE_ENABLE,R.NODE_PATH,R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.MANUFACTURER_ID, R.NODE_ID
  </sql>
  
   <sql id="ResourceColumn_WithRelModel_List" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.MAC, R.BUILDING_ID, R.FLOOR, R.PASSWORD, 
    R.SEQUENCE, R.SHARE_ENABLE,R.NODE_PATH,R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.MANUFACTURER_ID, R.NODE_ID,
    CR.CUSTOMER_ID CR_CUSTOMER_ID, CR.RESOURCE_ID CR_RESOURCE_ID, CR.ENABLE CR_ENABLE, CR.FROM_SHARED CR_FROM_SHARED, CR.CREATE_DATE CR_CREATE_DATE, 
    CR.CREATE_USER CR_CREATE_USER, CR.START_DATE CR_START_DATE, CR.END_DATE CR_END_DATE
  </sql>
  
   <sql id="Resource_With_CusGrp_RelModel_List" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.MAC, R.BUILDING_ID, R.FLOOR, R.PASSWORD, 
    R.SEQUENCE, R.SHARE_ENABLE,R.NODE_PATH,R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.MANUFACTURER_ID, R.NODE_ID,
    CR.CGROUP_ID CR_CGROUP_ID, CR.RESOURCE_ID CR_RESOURCE_ID, CR.ENABLE CR_ENABLE,  CR.CREATE_DATE CR_CREATE_DATE, 
    CR.CREATE_USER CR_CREATE_USER, CR.START_DATE CR_START_DATE, CR.END_DATE CR_END_DATE
  </sql>
  
    <sql id="Base_Column_List" >
    CUSTOMER_ID, RESOURCE_ID, ENABLE, FROM_SHARED, CREATE_DATE, CREATE_USER, START_DATE, END_DATE
  </sql>
  
  <insert id="insert" parameterType="com.ldps.model.CusResourceRelModel" >
    insert into CUSTOMER_RESOURCE_REL (CUSTOMER_ID, RESOURCE_ID, ENABLE, 
      FROM_SHARED, START_DATE, END_DATE, 
      CREATE_DATE, CREATE_USER)
    values (#{customerId,jdbcType=BIGINT}, #{resourceId,jdbcType=INTEGER}, #{enable,jdbcType=CHAR}, 
      #{fromShared,jdbcType=CHAR}, #{startDate}, #{endDate}, 
      #{createDate}, #{createUser,jdbcType=BIGINT})
  </insert>
  
   <insert id="insertSelective" parameterType="com.ldps.model.CusResourceRelModel" >
    insert into CUSTOMER_RESOURCE_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="enable != null" >
        ENABLE,
      </if>
      <if test="fromShared != null" >
        FROM_SHARED,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="fromShared != null" >
        #{fromShared,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        #{startDate},
      </if>
      <if test="endDate != null" >
        #{endDate},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByConditionSelective" parameterType="com.ldps.model.CusResourceRelModel" >
    update CUSTOMER_RESOURCE_REL
    <set>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=CHAR},
      </if>
      <if test="fromShared != null" >
        FROM_SHARED = #{fromShared,jdbcType=CHAR},
      </if>
      
        START_DATE = #{startDate,jdbcType=BIGINT},
        END_DATE = #{endDate,jdbcType=BIGINT},
        
      <if test="createDate != null" >
        CREATE_DATE = #{createDate},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    AND RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
  </update>
  
    <update id="disableResourcePermission" parameterType="com.ldps.model.CusResourceRelModel" >
    update CUSTOMER_RESOURCE_REL
    <set>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    AND RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCusIdAndResourceId" resultMap="BaseResultMap" parameterType="com.ldps.model.CusResourceRelModel" >
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER_RESOURCE_REL
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
   	and RESOURCE_ID=#{resourceId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByShareCustomerId" resultMap="ResultWithResourceModelMap" parameterType="com.ldps.model.CusResourceRelModel" >
    select 
    <include refid="Column_WithResourceModel_List" />
    from RESOURCE R, CUSTOMER_RESOURCE_REL CR
    where FROM_SHARED = 'Y' and CREATE_USER=#{createUser,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteSharedResource" >
    delete from CUSTOMER_RESOURCE_REL 
    where RESOURCE_ID=#{resourceId,jdbcType=INTEGER}  
    AND FROM_SHARED = 'Y' 
    ADN CUSTOMER_ID =#{toCustomerId,jdbcType=BIGINT} 
    AND CREATE_USER =#{fromCustomerId,jdbcType=BIGINT}
  </delete>
  
  <select id="selectResouceListWithSpecUserId" resultMap="ResourceModel_WithRelModelMap" >
    select 
    <include refid="ResourceColumn_WithRelModel_List" /> 
    from RESOURCE R LEFT JOIN CUSTOMER_RESOURCE_REL CR 
    ON R.ID = CR.RESOURCE_ID AND CR.CUSTOMER_ID = #{resourceModel.specificUserId, jdbcType=BIGINT} 
    <if test="resourceModel!=null">
    	<where>
    		<if test="resourceModel.name != null"><bind name="nameLike" value="'%' + resourceModel.name + '%'" /> name like #{nameLike}</if>
    		<if test="resourceModel.buildingId != null"> AND  BUILDING_ID = #{resourceModel.buildingId}</if>
    		<if test="resourceModel.deviceType != null"> AND  DEVICE_TYPE = #{resourceModel.deviceType}</if>
    		<if test="resourceModel.nodeId != null"> AND  NODE_ID = #{resourceModel.nodeId}</if>
    	</where>
     </if>
    limit #{startRow,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="selectResouceListWithSpecCusGroupId" resultMap="Resource_With_CusGrp_RelModelMap" >
    select 
    <include refid="Resource_With_CusGrp_RelModel_List" /> 
    from RESOURCE R LEFT JOIN CGROUP_RESOURCE_REL CR 
    ON R.ID = CR.RESOURCE_ID AND CR.CGROUP_ID = #{resourceModel.specificCusGroupId, jdbcType=BIGINT} 
    <if test="resourceModel!=null">
    	<where>
    		<if test="resourceModel.name != null"><bind name="nameLike" value="'%' + resourceModel.name + '%'" /> name like #{nameLike}</if>
    		<if test="resourceModel.buildingId != null"> AND  BUILDING_ID = #{resourceModel.buildingId}</if>
    		<if test="resourceModel.deviceType != null"> AND  DEVICE_TYPE = #{resourceModel.deviceType}</if>
    		<if test="resourceModel.nodeId != null"> AND  NODE_ID = #{resourceModel.nodeId}</if>
    	</where>
     </if>
    limit #{startRow,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
  
  
</mapper>