<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.CusResourceRelModelMapper" >
  <resultMap id="BaseResultMap" type="com.ldps.model.CusResourceRelModel" >
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="FROM_SHARED" property="fromShared" jdbcType="CHAR" />
    <result column="START_DATE" property="startDate"  />
    <result column="END_DATE" property="endDate"  />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ResultWithResourceModelMap" type="com.ldps.model.CusResourceRelModel" >
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
    <result column="ENABLE" property="enable" jdbcType="CHAR" />
    <result column="FROM_SHARED" property="fromShared" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
    <result column="START_DATE" property="startDate"  />
    <result column="END_DATE" property="endDate"  />
    
    <association property="resourceModel" javaType="com.ldps.model.ResourceModel">
	    <id column="R_ID" property="id" jdbcType="INTEGER" />
	    <result column="R_NAME" property="name" jdbcType="VARCHAR" />
	    <result column="R_TYPE_ID" property="typeId" jdbcType="INTEGER" />
	    <result column="R_STATUS" property="status" jdbcType="CHAR" />
	    <result column="R_CREATE_DATE" property="createDate"  />
	    <result column="R_CREATE_USER" property="createUser" jdbcType="BIGINT" />
	    <result column="R_BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
	    <result column="R_FLOOR" property="floor" jdbcType="INTEGER" />
	    <result column="R_SEQUENCE" property="sequence" jdbcType="INTEGER" />
	    <result column="R_SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
	    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
	    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
	    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
	    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
	    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
	    
	    <result column="R_R_INT1" property="rInt1" jdbcType="INTEGER" />
	    <result column="R_R_INT2" property="rInt2" jdbcType="INTEGER" />
	    <result column="R_NUM1" property="num1" jdbcType="DECIMAL" />
	    <result column="R_NUM2" property="num2" jdbcType="DECIMAL" />
	    <result column="R_VC1" property="vc1" jdbcType="VARCHAR" />
	    <result column="R_VC2" property="vc2" jdbcType="VARCHAR" />
	    <result column="R_CHR1" property="chr1" jdbcType="CHAR" />
	    <result column="R_CHR2" property="chr2" jdbcType="CHAR" />
    </association>
  </resultMap>
  
  <resultMap id="ResourceModel_WithRelModelMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    
    <association property="cusResRelModel" javaType="com.ldps.model.CusResourceRelModel">
	    <id column="CR_CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
	    <result column="CR_RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
	    <result column="CR_ENABLE" property="enable" jdbcType="CHAR" />
	    <result column="CR_FROM_SHARED" property="fromShared" jdbcType="CHAR" />
	    <result column="CR_CREATE_DATE" property="createDate"  />
	    <result column="CR_CREATE_USER" property="createUser" jdbcType="BIGINT" />
	    <result column="CR_START_DATE" property="startDate"  />
	    <result column="CR_END_DATE" property="endDate"  />
    </association>
  </resultMap>
  
  <resultMap id="ResourceFloorResultMap" type="com.ldps.data.ResourceFloor" >
    <result column="FLOOR" property="floorId" />
	<result column="FLOORNAME" property="floorName" />
  </resultMap>
  
  <resultMap id="ResourceAreaResultMap" type="com.ldps.data.ResourceArea" >
    <result column="NAME" property="buildingName" jdbcType="VARCHAR" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <collection property="floors" resultMap="ResourceFloorResultMap"/>
  </resultMap>
  
  <sql id="Column_WithResourceModel_List" >
    CR.CUSTOMER_ID CR_CUSTOMER_ID, CR.RESOURCE_ID CR_RESOURCE_ID, CR.ENABLE CR_ENABLE, CR.FROM_SHARED CR_FROM_SHARED, CR.CREATE_DATE CR_CREATE_DATE, 
    CR.CREATE_USER CR_CREATE_USER, CR.START_DATE CR_START_DATE, CR.END_DATE CR_END_DATE,
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.BUILDING_ID, R.FLOOR, 
    R.SEQUENCE, R.SHARE_ENABLE,R.NODE_PATH,R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.NODE_ID
  </sql>
  
   <sql id="ResourceColumn_WithRelModel_List" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER,  R.BUILDING_ID, R.FLOOR, 
    R.SEQUENCE, R.SHARE_ENABLE,R.NODE_PATH,R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.NODE_ID,
    CR.CUSTOMER_ID CR_CUSTOMER_ID, CR.RESOURCE_ID CR_RESOURCE_ID, CR.ENABLE CR_ENABLE, CR.FROM_SHARED CR_FROM_SHARED, CR.CREATE_DATE CR_CREATE_DATE, 
    CR.CREATE_USER CR_CREATE_USER, CR.START_DATE CR_START_DATE, CR.END_DATE CR_END_DATE
  </sql>
  

  
    <sql id="Base_Column_List" >
    CUSTOMER_ID, RESOURCE_ID, ENABLE, FROM_SHARED, CREATE_DATE, CREATE_USER, START_DATE, END_DATE
  </sql>
  
  <insert id="insert" parameterType="com.ldps.model.CusResourceRelModel" >
    insert into CUSTOMER_RESOURCE_REL (CUSTOMER_ID, RESOURCE_ID, ENABLE, 
      FROM_SHARED, START_DATE, END_DATE, 
      CREATE_DATE, CREATE_USER)
    values (#{customerId,jdbcType=BIGINT}, #{resourceId,jdbcType=INTEGER}, #{enable,jdbcType=CHAR}, 
      #{fromShared,jdbcType=CHAR}, #{startDate}, #{endDate}, 
      #{createDate}, #{createUser,jdbcType=BIGINT})
  </insert>
  
   <insert id="insertSelective" parameterType="com.ldps.model.CusResourceRelModel" >
    insert into CUSTOMER_RESOURCE_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="enable != null" >
        ENABLE,
      </if>
      <if test="fromShared != null" >
        FROM_SHARED,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="fromShared != null" >
        #{fromShared,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        #{startDate},
      </if>
      <if test="endDate != null" >
        #{endDate},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByConditionSelective" parameterType="com.ldps.model.CusResourceRelModel" >
    update CUSTOMER_RESOURCE_REL
    <set>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=CHAR},
      </if>
      <if test="fromShared != null" >
        FROM_SHARED = #{fromShared,jdbcType=CHAR},
      </if>
      
        START_DATE = #{startDate,jdbcType=BIGINT},
        END_DATE = #{endDate,jdbcType=BIGINT},
        
      <if test="createDate != null" >
        CREATE_DATE = #{createDate},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    AND RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
  </update>
  
  <!-- 
  <update id="disableResourcePermission" parameterType="com.ldps.model.CusResourceRelModel" >
    update CUSTOMER_RESOURCE_REL
    <set>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    AND RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
  </update>
   
  <update id="disableBatchResourcePermission"  >
    update CUSTOMER_RESOURCE_REL
    <set>
      <if test="enable != null" >
        ENABLE = #{disableFlag,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{user,jdbcType=BIGINT},
      </if>
    </set>
    where RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
     AND CUSTOMER_ID in 
   		<foreach item="item" index="index" collection="customerIds" open="(" separator="," close=")">
   			#{item,jdbcType=Long}
   		</foreach>
  </update>
  -->
  <select id="selectByCusIdAndResourceId" resultMap="BaseResultMap" parameterType="com.ldps.model.CusResourceRelModel" >
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER_RESOURCE_REL
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
   	and RESOURCE_ID=#{resourceId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByShareCustomerId" resultMap="ResultWithResourceModelMap" parameterType="com.ldps.model.CusResourceRelModel" >
    select 
    <include refid="Column_WithResourceModel_List" />
    from RESOURCE R, CUSTOMER_RESOURCE_REL CR
    where FROM_SHARED = 'Y' and CREATE_USER=#{createUser,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteSharedResource" >
    delete from CUSTOMER_RESOURCE_REL 
    where RESOURCE_ID=#{resourceId,jdbcType=INTEGER}  
    AND FROM_SHARED = 'Y' 
    ADN CUSTOMER_ID =#{toCustomerId,jdbcType=BIGINT} 
    AND CREATE_USER =#{fromCustomerId,jdbcType=BIGINT}
  </delete>
  
  <select id="selectResouceListWithSpecUserId" resultMap="ResourceModel_WithRelModelMap" >
    select 
    <include refid="ResourceColumn_WithRelModel_List" /> 
    from RESOURCE R LEFT JOIN CUSTOMER_RESOURCE_REL CR 
    ON R.ID = CR.RESOURCE_ID AND CR.CUSTOMER_ID = #{resourceModel.specificUserId, jdbcType=BIGINT} 
    <if test="resourceModel!=null">
    	<where>
    		<if test="resourceModel.name != null"><bind name="nameLike" value="'%' + resourceModel.name + '%'" /> name like #{nameLike}</if>
    		<if test="resourceModel.buildingId != null"> AND  BUILDING_ID = #{resourceModel.buildingId}</if>
    		<if test="resourceModel.deviceType != null"> AND  DEVICE_TYPE = #{resourceModel.deviceType}</if>
    		<if test="resourceModel.nodeId != null"> AND  NODE_ID = #{resourceModel.nodeId}</if>
    		<if test="resourceModel.permissionAttrId != null"> AND  PERMISSION_ATTR_ID = #{resourceModel.permissionAttrId}</if>
    	</where>
     </if>
    limit #{startRow,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
   <resultMap id="Resource_BaseResultMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    <result column="R_INT1" property="rInt1" jdbcType="INTEGER" />
    <result column="R_INT2" property="rInt2" jdbcType="INTEGER" />
    <result column="NUM1" property="num1" jdbcType="DECIMAL" />
    <result column="NUM2" property="num2" jdbcType="DECIMAL" />
    <result column="VC1" property="vc1" jdbcType="VARCHAR" />
    <result column="VC2" property="vc2" jdbcType="VARCHAR" />
    <result column="CHR1" property="chr1" jdbcType="CHAR" />
    <result column="CHR2" property="chr2" jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="Resource_WithResKeyResultMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    <result column="R_INT1" property="rInt1" jdbcType="INTEGER" />
    <result column="R_INT2" property="rInt2" jdbcType="INTEGER" />
    <result column="NUM1" property="num1" jdbcType="DECIMAL" />
    <result column="NUM2" property="num2" jdbcType="DECIMAL" />
    <result column="VC1" property="vc1" jdbcType="VARCHAR" />
    <result column="VC2" property="vc2" jdbcType="VARCHAR" />
    <result column="CHR1" property="chr1" jdbcType="CHAR" />
    <result column="CHR2" property="chr2" jdbcType="CHAR" />
    
    <collection property="resourceKeys" javaType="java.util.List" ofType="com.ldps.model.ResourceKeyModel">  
        <id column="RK_ID" property="id" jdbcType="INTEGER" />
	    <result column="RK_MAC" property="mac" jdbcType="CHAR" />
	    <result column="RK_PASSWORD" property="password" jdbcType="CHAR" />
	    <result column="RK_MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
	    <result column="RK_RESOURCE_ID" property="resourceId" jdbcType="INTEGER" />
	    <result column="RK_R_INT1" property="rInt1" jdbcType="INTEGER" />
	    <result column="RK_R_INT2" property="rInt2" jdbcType="INTEGER" />
	    <result column="RK_NUM1" property="num1" jdbcType="DECIMAL" />
	    <result column="RK_NUM2" property="num2" jdbcType="DECIMAL" />
	    <result column="RK_VC1" property="vc1" jdbcType="VARCHAR" />
	    <result column="RK_VC2" property="vc2" jdbcType="VARCHAR" />
	    <result column="RK_CHR1" property="chr1" jdbcType="CHAR" />
	    <result column="RK_CHR2" property="chr2" jdbcType="CHAR" />
    </collection>
  </resultMap>
      
  <sql id="Resource_Base_Column_List_WithLable" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER,  R.BUILDING_ID, R.FLOOR,
    R.SEQUENCE, R.SHARE_ENABLE, R.R_INT1, R.R_INT2, R.NUM1, R.NUM2, R.VC1, R.VC2, R.CHR1, R.CHR2, 
    R.NODE_PATH, R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.NODE_ID
  </sql>
  
  <sql id="ResourceWith_ResKeys_Column_List" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER,  R.BUILDING_ID, R.FLOOR,
    R.SEQUENCE, R.SHARE_ENABLE, R.NODE_PATH, R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, 
    R.NODE_ID,  R.R_INT1, R.R_INT2, R.NUM1, R.NUM2, R.VC1, R.VC2, R.CHR1, R.CHR2,
    RK.ID RK_ID , RK.MAC RK_MAC, RK.PASSWORD RK_PASSWORD, RK.MANUFACTURER_ID RK_MANUFACTURER_ID, 
    RK.RESOURCE_ID RK_RESOURCE_ID, RK.R_INT1 RK_R_INT1, 
    RK.R_INT2 RK_R_INT2, RK.NUM1 RK_NUM1, RK.NUM2 RK_NUM2, RK.VC1 RK_VC1, 
    RK.VC2 RK_VC2, RK.CHR1 RK_CHR1, RK.CHR2 RK_CHR2
  </sql>
 
  
  <select id="selectSharableResourceById" resultMap="Resource_BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Resource_Base_Column_List_WithLable" /> 
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.SHARE_ENABLE='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
  </select>
  
  <select id="selectSharableResourceByIdAndArea" resultMap="BaseResultMap">
    select 
    CR.* 
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.SHARE_ENABLE='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT} 
	<if test="buildingId!=null">
		 AND  BUILDING_ID = #{buildingId,jdbcType=INTEGER}
	</if>
	<if test="floor!=null">
		 AND  FLOOR = #{floor,jdbcType=INTEGER}
	</if>
	AND NOT EXISTS (select 1 from CUSTOMER_RESOURCE_REL where CUSTOMER_ID=#{toCustomerId,jdbcType=BIGINT} and R.ID=RESOURCE_ID 
	<![CDATA[ AND (START_DATE IS NULL OR START_DATE < now()) AND (END_DATE IS NULL OR END_DATE > now()) ]]>)
  </select>
  
  <select id="selectSharableResBuildingById" resultMap="ResourceAreaResultMap" parameterType="java.lang.Long" >
    select 
    DISTINCT BU.NAME,R.BUILDING_ID,R.FLOOR,concat(R.FLOOR,'层') AS FLOORNAME
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR,BUILDING BU
	WHERE CR.RESOURCE_ID=R.ID AND R.BUILDING_ID=BU.ID AND R.SHARE_ENABLE='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT} AND PERMISSION_ATTR_ID!=1
  </select>

  <select id="selectPrivateResByBIdAndCusId" resultMap="Resource_BaseResultMap" >
    select 
    <include refid="Resource_Base_Column_List_WithLable" /> 
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.STATUS='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
	AND R.BUILDING_ID = #{buildingId,jdbcType=INTEGER} 
	AND PERMISSION_ATTR_ID != 1
  </select>
  
  <select id="selectPriResWIthKeysByBIdAndCusId" resultMap="Resource_WithResKeyResultMap" >
    select 
    <include refid="ResourceWith_ResKeys_Column_List" /> 
    FROM RESOURCE R  LEFT JOIN RESOURCE_KEY RK ON R.ID=RK.RESOURCE_ID, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.STATUS='Y' AND CR.ENABLE='Y'
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
	AND R.BUILDING_ID = #{buildingId,jdbcType=INTEGER} 
	AND PERMISSION_ATTR_ID != 1
	order by R.SEQUENCE desc 
  </select>
  
  <select id="selectValidResByCIdAndMac" resultMap="Resource_WithResKeyResultMap" >
    select 
    <include refid="ResourceWith_ResKeys_Column_List" /> 
    FROM RESOURCE R  LEFT JOIN RESOURCE_KEY RK ON R.ID=RK.RESOURCE_ID, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.STATUS='Y' AND CR.ENABLE='Y'
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
	AND R.ID = #{resourceId,jdbcType=INTEGER} 
  </select>
  
  <delete id="delteResourcePermission" parameterType="com.ldps.model.CusResourceRelModel" >
    delete from CUSTOMER_RESOURCE_REL
    where CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
    AND RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByCusIdListAndResId"  >
    delete from CUSTOMER_RESOURCE_REL
    where RESOURCE_ID = #{resourceId,jdbcType=INTEGER}
     AND CUSTOMER_ID in 
   		<foreach item="item" index="index" collection="customerIds" open="(" separator="," close=")">
   			#{item,jdbcType=BIGINT}
   		</foreach>
  </delete>
  
  <delete id="deleteByCusIdAndResIdList"  >
    delete from CUSTOMER_RESOURCE_REL
    where CUSTOMER_ID = #{customerId,jdbcType=Long}
     AND RESOURCE_ID in 
   		<foreach item="item" index="index" collection="resourceIds" open="(" separator="," close=")">
   			#{item,jdbcType=INTEGER}
   		</foreach>
  </delete>
  
</mapper>