<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.CustomerResGroupRelModelMapper" >

  <resultMap id="BaseResultMap" type="com.ldps.model.CustomerResGroupRelModel" >
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="RGROUP_ID" property="rgroupId" jdbcType="INTEGER" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ResGrpModel_WithCusRelModelMap" type="com.ldps.model.ResourceGroupModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <association property="cusResGrpRelModel" javaType="com.ldps.model.CustomerResGroupRelModel">
    	<result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
	    <result column="RGROUP_ID" property="rgroupId" jdbcType="INTEGER" />
	    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
	    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
    </association>
  </resultMap>
  
  <select id="selectResGrpListWithSpecUserId" resultMap="ResGrpModel_WithCusRelModelMap" >
  	SELECT RG.ID, RG.NAME, CRR.START_DATE, CRR.END_DATE, CRR.CREATE_USER, CRR.CREATE_DATE 
	FROM RESOURCE_GROUP RG 
	LEFT JOIN CUSTOMER_RESGROUP_REL CRR ON CRR.RGROUP_ID=RG.ID 
	AND CRR.CUSTOMER_ID  = #{resourceGroupModel.specificCusId, jdbcType=BIGINT} 
	 <if test="resourceGroupModel!=null">
    	<where>
    		<if test="resourceGroupModel.name != null"><bind name="nameLike" value="'%' + resourceGroupModel.name + '%'" /> NAME like #{nameLike}</if>
    	</where>
     </if>
    limit #{startRow,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.ldps.model.CustomerResGroupRelModel" >
    	SELECT CUSTOMER_ID, RGROUP_ID,START_DATE,END_DATE,CREATE_DATE,CREATE_USER
    	From CUSTOMER_RESGROUP_REL 
    	<where>
    		<if test="customerId != null"> CUSTOMER_ID = #{customerId}</if>
    		<if test="rgroupId != null"> AND  RGROUP_ID = #{rgroupId}</if>
    	</where>
    </select>
    
    <select id="selectByResGroupId" resultMap="BaseResultMap" >
    	SELECT CUSTOMER_ID, RGROUP_ID,START_DATE,END_DATE,CREATE_DATE,CREATE_USER
    	From CUSTOMER_RESGROUP_REL 
    	WHERE RGROUP_ID = #{rgroupId}
    </select>
    
    <delete id="deleteByCondition"  parameterType="com.ldps.model.CustomerResGroupRelModel" >
    	delete  From CUSTOMER_RESGROUP_REL 
    	where CUSTOMER_ID = #{customerId} AND  RGROUP_ID = #{rgroupId}
    </delete>
  
   <update id="updateByCondition" parameterType="com.ldps.model.CustomerResGroupRelModel" >
    update CUSTOMER_RESGROUP_REL 
    set 
    	START_DATE = #{startDate,jdbcType=TIMESTAMP},
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        CREATE_USER = #{createUser,jdbcType=BIGINT}
    where CUSTOMER_ID = #{customerId}
     AND  RGROUP_ID = #{rgroupId}
  </update>
  
  
  <insert id="insert" parameterType="com.ldps.model.CustomerResGroupRelModel" >
    insert into CUSTOMER_RESGROUP_REL (CUSTOMER_ID, RGROUP_ID, START_DATE, 
      END_DATE, CREATE_DATE, CREATE_USER
      )
    values (#{customerId,jdbcType=BIGINT}, #{rgroupId,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ldps.model.CustomerResGroupRelModel" >
    insert into CUSTOMER_RESGROUP_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="rgroupId != null" >
        RGROUP_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="rgroupId != null" >
        #{rgroupId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>