<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.PermissonRecordModelMapper" >
  <cache 
  	eviction="LRU" 
  	flushInterval="36000000" 
  	size="1024" 
  	readOnly="true" >
  </cache>
  <resultMap id="BaseResultMap" type="com.ldps.model.PermissonRecordModel" >
    <result column="OBJECT_TYPE" property="objectType" jdbcType="INTEGER" />
    <result column="CGROUP_NAME" property="cgroupName" jdbcType="VARCHAR" />
    <result column="RESOURCE_NAME" property="resourceName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.ldps.model.PermissonRecordModel" >
    insert into PERMISSION_RECORD (OBJECT_TYPE, CGROUP_NAME, RESOURCE_NAME, 
      CUSTOMER_ID, ACTION_TYPE, CREATE_DATE, 
      CREATE_USER)
    values (#{objectType,jdbcType=INTEGER}, #{cgroupName,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=BIGINT}, #{actionType,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, 
      #{createUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ldps.model.PermissonRecordModel" >
    insert into PERMISSION_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="cgroupName != null" >
        CGROUP_NAME,
      </if>
      <if test="resourceName != null" >
        RESOURCE_NAME,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="actionType != null" >
        ACTION_TYPE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectType != null" >
        #{objectType,jdbcType=INTEGER},
      </if>
      <if test="cgroupName != null" >
        #{cgroupName,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>