<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldps.dao.ResourceModelMapper" >
  <cache 
  	eviction="LRU" 
  	flushInterval="36000000" 
  	size="1024" 
  	readOnly="true" >
  </cache>
  <resultMap id="BaseResultMap" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
    <result column="MAC" property="mac" jdbcType="CHAR" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="PASSWORD" property="password" jdbcType="CHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType=INTEGER />
    <result column="R_INT1" property="rInt1" jdbcType="INTEGER" />
    <result column="R_INT2" property="rInt2" jdbcType="INTEGER" />
    <result column="NUM1" property="num1" jdbcType="DECIMAL" />
    <result column="NUM2" property="num2" jdbcType="DECIMAL" />
    <result column="VC1" property="vc1" jdbcType="VARCHAR" />
    <result column="VC2" property="vc2" jdbcType="VARCHAR" />
    <result column="CHR1" property="chr1" jdbcType="CHAR" />
    <result column="CHR2" property="chr2" jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="queryWithGroupList" type="com.ldps.model.ResourceModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
    <result column="MAC" property="mac" jdbcType="CHAR" />
    <result column="BUILDING_ID" property="buildingId" jdbcType="INTEGER" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="PASSWORD" property="password" jdbcType="CHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="SHARE_ENABLE" property="shareEnable" jdbcType="CHAR" />
    <result column="NODE_PATH" property="nodePath" jdbcType="VARCHAR" />
    <result column="IS_VIRTUAL_RESOURCE" property="isVirtualResource" jdbcType="CHAR" />
    <result column="PERMISSION_ATTR_ID" property="permissionAttrId" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType=INTEGER />
    <result column="R_INT1" property="rInt1" jdbcType="INTEGER" />
    <result column="R_INT2" property="rInt2" jdbcType="INTEGER" />
    <result column="NUM1" property="num1" jdbcType="DECIMAL" />
    <result column="NUM2" property="num2" jdbcType="DECIMAL" />
    <result column="VC1" property="vc1" jdbcType="VARCHAR" />
    <result column="VC2" property="vc2" jdbcType="VARCHAR" />
    <result column="CHR1" property="chr1" jdbcType="CHAR" />
    <result column="CHR2" property="chr2" jdbcType="CHAR" />
    <collection property="resourceGroups" javaType="java.util.List" ofType="com.ldps.model.ResourceGroupModel">  
        <id column="G_ID" property="id" jdbcType="INTEGER" />
	    <result column="G_NAME" property="name" jdbcType="VARCHAR" />
	    <result column="G_STATUS" property="status" jdbcType="CHAR" />
	    <result column="G_IS_PUBLIC" property="isPublic" jdbcType="CHAR" />
	    <result column="G_CREATE_DATE" property="createDate" jdbcType="DATE" />
	    <result column="G_CREATE_USER" property="createUser" jdbcType="INTEGER" />
	    <result column="G_NUM1" property="num1" jdbcType="DECIMAL" />
	    <result column="G_NUM2" property="num2" jdbcType="DECIMAL" />
	    <result column="G_VC1" property="vc1" jdbcType="VARCHAR" />
	    <result column="G_VC2" property="vc2" jdbcType="VARCHAR" />
	    <result column="G_CHR1" property="chr1" jdbcType="CHAR" />
	    <result column="G_CHR2" property="chr2" jdbcType="CHAR" />
    </collection>  
  </resultMap>
  
  
  <sql id="With_Groups_Column_List" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.MAC, R.BUILDING_ID, R.FLOOR, R.PASSWORD, 
    R.SEQUENCE, R.SHARE_ENABLE, R.NODE_PATH, R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, 
    R.MANUFACTURER_ID, R.NODE_ID,  R.R_INT1, R.R_INT2, R.NUM1, R.NUM2, R.VC1, R.VC2, R.CHR1, R.CHR2,
    G.ID G_ID, G.NAME G_NAME , G.STATUS G_STATUS , G.IS_PUBLIC G_IS_PUBLIC , G.CREATE_DATE G_CREATE_DATE , 
    G.CREATE_USER G_CREATE_USER , G.NUM1 G_NUM1 , G.NUM2 G_NUM2 , G.VC1 G_VC1 , G.VC2 G_VC2 , G.CHR1 G_CHR1 , G.CHR2 G_CHR2
  </sql>
  
  <select id="selectWithGroupsByMAC" resultMap="queryWithGroupList" parameterType="java.lang.String" >
	SELECT 
	<include refid="With_Groups_Column_List" />  
	FROM RESOURCE R LEFT JOIN RESOURCE_GROUP_REL GR ON R.ID=GR.RESOURCE_ID
    LEFT JOIN RESOURCE_GROUP G ON G.ID=GR.RGROUP_ID 
    where R.MAC = #{mac,jdbcType=VARCHAR}
  </select>
  
  <sql id="Base_Column_List" >
    ID, NAME, TYPE_ID, STATUS, CREATE_DATE, CREATE_USER, MAC, BUILDING_ID, FLOOR, PASSWORD, 
    SEQUENCE, SHARE_ENABLE, NODE_PATH, IS_VIRTUAL_RESOURCE, PERMISSION_ATTR_ID, DEVICE_TYPE, 
    MANUFACTURER_ID, NODE_ID, R_INT1, R_INT2, NUM1, NUM2, VC1, VC2, CHR1, CHR2
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from RESOURCE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByMac" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RESOURCE
    where MAC = #{mac,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from RESOURCE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldps.model.ResourceModel" >
    insert into RESOURCE (ID, NAME, TYPE_ID, 
      STATUS, CREATE_DATE, CREATE_USER, 
      MAC, BUILDING_ID, FLOOR, 
      PASSWORD, SEQUENCE, SHARE_ENABLE, 
      NODE_PATH, IS_VIRTUAL_RESOURCE, PERMISSION_ATTR_ID, 
      DEVICE_TYPE, MANUFACTURER_ID, NODE_ID R_INT1, 
      R_INT2, NUM1, NUM2, 
      VC1, VC2, CHR1, CHR2
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{createDate,jdbcType=DATE}, #{createUser,jdbcType=INTEGER}, 
      #{mac,jdbcType=CHAR}, #{buildingId,jdbcType=INTEGER}, #{floor,jdbcType=INTEGER}, 
      #{password,jdbcType=CHAR}, #{sequence,jdbcType=INTEGER}, #{shareEnable,jdbcType=CHAR}, 
      #{nodePath,jdbcType=VARCHAR}, #{isVirtualResource,jdbcType=CHAR}, #{permissionAttrId,jdbcType=INTEGER}, 
      #{deviceType,jdbcType=INTEGER}, #{manufacturerId,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER}, #{rInt1,jdbcType=INTEGER}, 
      #{rInt2,jdbcType=INTEGER}, #{num1,jdbcType=DECIMAL}, #{num2,jdbcType=DECIMAL}, 
      #{vc1,jdbcType=VARCHAR}, #{vc2,jdbcType=VARCHAR}, #{chr1,jdbcType=CHAR}, #{chr2,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ldps.model.ResourceModel" >
    insert into RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="mac != null" >
        MAC,
      </if>
      <if test="buildingId != null" >
        BUILDING_ID,
      </if>
      <if test="floor != null" >
        FLOOR,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="sequence != null" >
        SEQUENCE,
      </if>
      <if test="shareEnable != null" >
        SHARE_ENABLE,
      </if>
      <if test="nodePath != null" >
        NODE_PATH,
      </if>
      <if test="isVirtualResource != null" >
        IS_VIRTUAL_RESOURCE,
      </if>
      <if test="permissionAttrId != null" >
        PERMISSION_ATTR_ID,
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="manufacturerId != null" >
        MANUFACTURER_ID,
      </if>
      <if test="nodeId != null" >
        NODE_ID,
      </if>
      <if test="rInt1 != null" >
        R_INT1,
      </if>
      <if test="rInt2 != null" >
        R_INT2,
      </if>
      <if test="num1 != null" >
        NUM1,
      </if>
      <if test="num2 != null" >
        NUM2,
      </if>
      <if test="vc1 != null" >
        VC1,
      </if>
      <if test="vc2 != null" >
        VC2,
      </if>
      <if test="chr1 != null" >
        CHR1,
      </if>
      <if test="chr2 != null" >
        CHR2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=CHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="shareEnable != null" >
        #{shareEnable,jdbcType=CHAR},
      </if>
      <if test="nodePath != null" >
        #{nodePath,jdbcType=VARCHAR},
      </if>
      <if test="isVirtualResource != null" >
        #{isVirtualResource,jdbcType=CHAR},
      </if>
      <if test="permissionAttrId != null" >
        #{permissionAttrId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="manufacturerId != null" >
        #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="rInt1 != null" >
        #{rInt1,jdbcType=INTEGER},
      </if>
      <if test="rInt2 != null" >
        #{rInt2,jdbcType=INTEGER},
      </if>
      <if test="num1 != null" >
        #{num1,jdbcType=DECIMAL},
      </if>
      <if test="num2 != null" >
        #{num2,jdbcType=DECIMAL},
      </if>
      <if test="vc1 != null" >
        #{vc1,jdbcType=VARCHAR},
      </if>
      <if test="vc2 != null" >
        #{vc2,jdbcType=VARCHAR},
      </if>
      <if test="chr1 != null" >
        #{chr1,jdbcType=CHAR},
      </if>
      <if test="chr2 != null" >
        #{chr2,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldps.model.ResourceModel" >
    update RESOURCE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="mac != null" >
        MAC = #{mac,jdbcType=CHAR},
      </if>
      <if test="buildingId != null" >
        BUILDING_ID = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        FLOOR = #{floor,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=CHAR},
      </if>
      <if test="sequence != null" >
        SEQUENCE = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="shareEnable != null" >
        SHARE_ENABLE = #{shareEnable,jdbcType=CHAR},
      </if>
      <if test="nodePath != null" >
        NODE_PATH = #{nodePath,jdbcType=VARCHAR},
      </if>
      <if test="isVirtualResource != null" >
        IS_VIRTUAL_RESOURCE = #{isVirtualResource,jdbcType=CHAR},
      </if>
      <if test="permissionAttrId != null" >
        PERMISSION_ATTR_ID = #{permissionAttrId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="manufacturerId != null" >
        MANUFACTURER_ID = #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
     	 NODE_ID = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="rInt1 != null" >
        R_INT1 = #{rInt1,jdbcType=INTEGER},
      </if>
      <if test="rInt2 != null" >
        R_INT2 = #{rInt2,jdbcType=INTEGER},
      </if>
      <if test="num1 != null" >
        NUM1 = #{num1,jdbcType=DECIMAL},
      </if>
      <if test="num2 != null" >
        NUM2 = #{num2,jdbcType=DECIMAL},
      </if>
      <if test="vc1 != null" >
        VC1 = #{vc1,jdbcType=VARCHAR},
      </if>
      <if test="vc2 != null" >
        VC2 = #{vc2,jdbcType=VARCHAR},
      </if>
      <if test="chr1 != null" >
        CHR1 = #{chr1,jdbcType=CHAR},
      </if>
      <if test="chr2 != null" >
        CHR2 = #{chr2,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldps.model.ResourceModel" >
    update RESOURCE
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      CREATE_USER = #{createUser,jdbcType=INTEGER},
      MAC = #{mac,jdbcType=CHAR},
      BUILDING_ID = #{buildingId,jdbcType=INTEGER},
      FLOOR = #{floor,jdbcType=INTEGER},
      PASSWORD = #{password,jdbcType=CHAR},
      SEQUENCE = #{sequence,jdbcType=INTEGER},
      SHARE_ENABLE = #{shareEnable,jdbcType=CHAR},
      NODE_PATH = #{nodePath,jdbcType=VARCHAR},
      IS_VIRTUAL_RESOURCE = #{isVirtualResource,jdbcType=CHAR},
      PERMISSION_ATTR_ID = #{permissionAttrId,jdbcType=INTEGER},
      DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      MANUFACTURER_ID = #{manufacturerId,jdbcType=INTEGER},
      NODE_ID = #{nodeId,jdbcType=INTEGER},
      R_INT1 = #{rInt1,jdbcType=INTEGER},
      R_INT2 = #{rInt2,jdbcType=INTEGER},
      NUM1 = #{num1,jdbcType=DECIMAL},
      NUM2 = #{num2,jdbcType=DECIMAL},
      VC1 = #{vc1,jdbcType=VARCHAR},
      VC2 = #{vc2,jdbcType=VARCHAR},
      CHR1 = #{chr1,jdbcType=CHAR},
      CHR2 = #{chr2,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <sql id="Base_Column_List_WithLable" >
    R.ID, R.NAME, R.TYPE_ID, R.STATUS, R.CREATE_DATE, R.CREATE_USER, R.MAC, R.BUILDING_ID, R.FLOOR, R.PASSWORD, 
    R.SEQUENCE, R.SHARE_ENABLE, R.R_INT1, R.R_INT2, R.NUM1, R.NUM2, R.VC1, R.VC2, R.CHR1, R.CHR2, 
    R.NODE_PATH, R.IS_VIRTUAL_RESOURCE, R.PERMISSION_ATTR_ID, R.DEVICE_TYPE, R.MANUFACTURER_ID,R.NODE_ID
  </sql>
  
  <select id="selectSharableResourceById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List_WithLable" /> 
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.SHARE_ENABLE='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
  </select>
  
  <select id="selectValidPubResByBuildingId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from RESOURCE 
    where STATUS = 'Y' and BUILDING_ID = #{buildingId,jdbcType=INTEGER}
  </select>
  
  <select id="queryPrivateResByBIdAndCusId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List_WithLable" /> 
    FROM RESOURCE R, CUSTOMER_RESOURCE_REL CR 
	WHERE CR.RESOURCE_ID=R.ID AND R.STATUS='Y' 
	<![CDATA[ AND (CR.START_DATE IS NULL OR CR.START_DATE < now()) AND (CR.END_DATE IS NULL OR CR.END_DATE > now()) ]]> 
	AND CR.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
	AND R.BUILDING_ID = #{buildingId,jdbcType=INTEGER}
  </select>
  
  <select id="selectBasicResByNodeIdList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from RESOURCE 
    where PERMISSION_ATTR_ID = 1 
    and NODE_ID in 
   	<foreach item="item" index="index" collection="nodeIds" open="(" separator="," close=")">
   		#{item,jdbcType=INTEGER}
   	</foreach>
  </select>
  
</mapper>